body {
  background-color: #faebd7;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(216, 85, 85);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  text-align: center;
  padding-top: 100px;
  color: rgb(243, 184, 106);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 50px;
  position: relative;
}
.box {
  position: relative;
  text-align: center;
  color: rgb(3, 0, 0);
}

.panda {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-top: 50px;
  position: relative;
}
.first-txt {
  position: absolute;
  top: 34.5%;
  left: 39%;
  transform: translate(-50%, -50%);
  font-size:1.2vw;
  transform: rotate(2.5deg);
}
.second-txt {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:0.8vw;
}

.block {
  background-color: rgb(231, 148, 148);
  color: white;
  padding: 15px;
  border-radius: 25px;
}
.centerBtn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container { 
  height: 100px;
  position: relative;
 
}
button {
  background-color: #e4ad79; /* Green */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}